<table>
    <tr>
        <td colspan="3">
            <mat-form-field>
                <input disabled type="text" matInput value="{{input}}">
            </mat-form-field>
        </td>
        <td><button mat-flat-button color="warn" (click)="cancel()">C</button></td>
    </tr>

    <tr>
        <td><button mat-flat-button color="primary" value="1" (click)="clickButton('1')">1</button></td>
        <td><button mat-flat-button color="primary" value="2" (click)="clickButton('2')">2</button></td>
        <td><button mat-flat-button color="primary" value="3" (click)="clickButton('3')">3</button></td>
        <td><button mat-stroked-button color="basic" value="/" (click)="clickButton('/')">/</button></td>
    </tr>
    <tr>
        <td><button mat-flat-button color="primary" value="4" (click)="clickButton('4')">4</button></td>
        <td><button mat-flat-button color="primary" value="5" (click)="clickButton('5')">5</button></td>
        <td><button mat-flat-button color="primary" value="6" (click)="clickButton('6')">6</button></td>
        <td><button mat-stroked-button color="basic" value="*" (click)="clickButton('*')">*</button></td>
    </tr>
    <tr>
        <td><button mat-flat-button color="primary" value="7" (click)="clickButton('7')">7</button></td>
        <td><button mat-flat-button color="primary" value="8" (click)="clickButton('8')">8</button></td>
        <td><button mat-flat-button color="primary" value="9" (click)="clickButton('9')">9</button></td>
        <td><button mat-stroked-button color="basic" value="-" (click)="clickButton('-')">-</button></td>
    </tr>
    <tr>
        <td><button mat-stroked-button color="basic" value="." (click)="clickButton('.')">.</button></td>
        <td><button mat-flat-button color="primary" value="0" (click)="clickButton('0')">0</button></td>
        <td><button mat-stroked-button color="basic" value="=" (click)="result()">=</button></td>
        <td><button mat-stroked-button color="basic" value="+" (click)="clickButton('+')">+</button></td>
    </tr>
</table>



<!-- 
  () -> mandare da html a ts
  [] -> mandare informazione dentro un componente
  {{}} -> visualizzare da ts a html
-->